In [1]:
import sqlite3

In [12]:
connection = sqlite3.connect('classroom.db')
cursor = connection.cursor()
# drop_table = "DROP TABLE Classroom"
# cursor.execute(drop_table)
create_table = """
CREATE TABLE Classroom(
  student_id INTEGER PRIMARY KEY
 ,name VARCHAR(255)
 ,gender CHAR(1)
 ,physics_marks INT
 ,chemistry_marks INT
 ,mathematics_marks INT
 );
"""
cursor.execute(create_table)
connection.commit()
connection.close()

In [13]:
classroom_data = [
  ( 1, 'mitch', 'm', 2, 3, 4, 5)
  ,( 2, 'aly', 'f', 21, 34, 49, 50)
  ,( 3, 'cap', 'n', 22, 35, 48, 51)
  ,( 4, 'ruby', 'f', 23, 36, 47, 52)
]

connection = sqlite3.connect('classroom.db')
cursor = connection.cursor()

for s in classroom_data: 
  insert_stmt = """
  INSERT INTO Classroom ( 
     student_id
    ,name
    ,gender
    ,physics_marks
    ,chemistry_marks
    ,mathematics_marks
  )
  VALUES ( {id}, "{name}", "{gender}", {physics_marks}, {chemistry_marks}, {mathematics_marks})
  """.format(
     id=s[0]
    ,name=s[1]
    ,gender=s[2]
    ,physics_marks=s[3]
    ,chemistry_marks=s[4]
    ,mathematics_marks=s[5]
  )

  cursor.execute(insert_stmt)

connection.commit()
connection.close()

In [14]:
connection = sqlite3.connect('classroom.db')
cursor = connection.cursor()

select_stmt = "SELECT * FROM Classroom;"
cursor.execute(select_stmt)
result = cursor.fetchall()

for row in result: 
  print(row)

connection.close()

OperationalError: no tables specified